<div id="voucher">
    <h2>
        VOUCHER FOR A GOOD DAY
    </h2>
    <article>

        <h3>
            This voucher entitles you to have a great day
        </h3>
        <p>
            May all the negative energy that’s bringing you down leave you so that you spend a day filled with joy and positivity.
        <br>
            May you bask in kind words, positive thoughts, happy people and beautiful moments.
        <br>
            Rise and shine!
        </p>
        <aside>🤗</aside>
    </article>
</div>