<div class="titre"><h2>Pick a random card</h2></div>

<div class="container">
    <div class="carte">
        <p class="gentil">Let this be a reminder of how beautiful, awesome and perfect you are. Have a wonderful day.</p>
        </div>
    <div class="carte">
        <p class="gentil">Thank you for being here. I hope you and your loved ones are doing fine. Have a nice day.</p>
        </div>
    <div class="carte">
        <p class="gentil">You're strong. You're perfect. You're complete. Keep being awesome! Have a nice day.</p>
        </div>
    <div class="carte">
        <p class="gentil">Hey, gentle reminder: you're the best version of yourself and should be proud of it. Have a wonderful day.</p>
        </div>
    <div class="carte">
        <p class="gentil">You are awesome, and you keep improving each and every day.</p>
        </div>
    <div class="carte">
        <p class="gentil">Don't forget that somewhere, someone is dreaming of being like you. You're a role model even if you forget it sometimes. Keep being awesome!</p>
        </div>
    <div class="carte">
        <p class="gentil">Hey lovely you. Please don't push too hard to be like someone else, you're just perfect as you are. Have a wonderful day.</p></div>
    <div class="carte">
        <p class="gentil">No matter what you tell yourself, you're the best! Period. Have a nice day.</p>
        </div>
    <div class="carte">
        <p class="gentil">Don't be afraid of who you are, because you're just perfect. Keep being awesome.</p>
        </div>
    <div class="carte">
        <p class="gentil">You're glowing. Never forget that you're the brighest light for someone, even if they don't dare to tell you. Have a good day.</p>
        </div>
    <div class="carte">
        <p class="gentil">Never doubt your true power. You're awesome!</p>
        </div>
    <div class="carte">
        <p class="gentil">Everybody deserves a bit of wholesomeness once in a while. Please see this tweet as a way for me to tell you how awesome you are! Cheers!</p>
        </div>
    <div class="carte">
        <p class="gentil">You are unique. You are a unique being. And you know what we say about uniqueness? Unique is precious. Never forget your value. Have a beautiful day.</p>
        </div>
    <div class="carte">
        <p class="gentil">You are the best. The bestest of the best even. Never doubt of what you can achieve because you can do whatever you want. Have a great day.</p>
        </div>
    <div class="carte">
        <p class="gentil">You are important. Someone counts on you. Be brave. Be bold. Keep being awesome. Have a wonderful day.</p>
        </div>
    <div class="carte">
        <p class="gentil">Let this tiny tweet remind you how important, beautiful and strong you are. Please don't forget it. Have a nice day.</p>
        </div>
    <div class="carte">
        <p class="gentil">You don't need a role model. You're just perfect as you are. That's the truth. Have a good day.</p>
        </div>
    <div class="carte">
        <p class="gentil">I'm really proud you've decided to come here today. It really means something. You're important, just remember it. Have a nice day.</p>
        </div>
    <div class="carte">
        <p class="gentil">I hope your day is bright and beautiful. You're a strong and perfect being, let this tweet act as a gentle reminder. Have a nice day.</p>
        </div>
    <div class="carte">
        <p class="gentil">You have a beautiful soul. Your friends are lucky to have you in their life.</p>
        </div>
    
</div>