<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>La gentille page</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/gentillesses.css">
    <link rel="stylesheet" href="/css/bon.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <header id = "header-main" class = "row">
        <div id="top">
            <a href ="/" class = "logo">the nice page</a>
            <nav id = "nav-main" class = "nav">
                <a href="/quoi" class = "link">| what am i doing here?</a>
                <a href="/gentillesses" class = "link">| wholesome content</a>
                <a href="/bon" class = "link">| voucher for a nice day</a>
            </nav>
        </div>
        
    </header>
    {{{body}}}
</body>
</html>