
<article id = "quoi">
    <h1>what am i doing here?</h1>
    <p>Some days are tough. We feel beaten, sad, unable to achieve what we strive for, we lack love and support. This page is meant to remind you that you are worthy, lovable and loved, and that brighter days are to come.</p>
    
</article>